.common-detail-title {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
}

.common-detail-time {
  display: block;
  margin-top: 8px;
  color: #999;
  font-size: 12px;
}

.common-detail-body {
  margin-top: 18px;
}
