@mixin flex {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: row;
}

.popup-content {
  padding: 15px;
  height: 400px;
  background-color: #fff;
}

.mine{
  display: flex;
  width: 100%;
  position: absolute;
  align-items: center;
  top: batchXpTarlationRPX(60);
  left: batchXpTarlationRPX(28);
}

.mine-bg{
  width: 100%;
  height: batchXpTarlationRPX(200);
  position: relative;
  background-size: cover;
}

.mine-avatar{
  width: batchXpTarlationRPX(100);
  height: batchXpTarlationRPX(100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .avatar{
    width: batchXpTarlationRPX(90);
    height: batchXpTarlationRPX(90);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.login{
  flex: 1;
  margin-left: batchXpTarlationRPX(25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: batchXpTarlationRPX(80);
}

.login-btn{
  color: #fff;
  width: batchXpTarlationRPX(60);
  border: batchXpTarlationRPX(1) solid #fff;
  height: batchXpTarlationRPX(20);
  border-radius: batchXpTarlationRPX(10);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: batchXpTarlationRPX(12);
  margin: 0;
  background-color: transparent;
}

.login-name{
  font-size: batchXpTarlationRPX(22);
  color: #fff;
  font-weight: 700;
}

.list-content{
  margin: batchXpTarlationRPX(10);
}

.user-name{
  padding-right: batchXpTarlationRPX(10);
}

.slot-image{
  height: batchXpTarlationRPX(22);
  width: batchXpTarlationRPX(22);
}

.slot-box{
  margin-right: batchXpTarlationRPX(10);
}

.slot-text{
  font-size: batchXpTarlationRPX(14);
}

.slot-btn{
  width: 100%;
  font-size: batchXpTarlationRPX(14);
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: batchXpTarlationRPX(22);
  color: #3b4144;
  &:after{
    border: none;
  }
}

.item-body{
  width: 100%;
  display: flex;
  align-items: center;
}

.title{
  text-indent: 2em;
}

.text-2 {
  margin-top: 40px;
  font-size: 14px;
  margin-left: 40px;
}

.text-3{
  font-size: 14px;
}

.popup-content{
  .body{
    height: calc(100% - 60px);
    position: relative;
    .text-3{
      position: absolute;
      bottom: 0;
    }
  }
  .footer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn{
      &:last-child{
        button{
          border-color: $theme-color;
          color: $theme-color;
        }
      }
    }
    button{
      width: 120px;
      height: 34px;
      line-height: 34px;
      border-radius: 17px;
      font-size: 14px;
    }
  }
  .blue{
    color: #75c3ff;
  }
}