.card-content{
  padding-top: batchXpTarlationRPX(20);
  padding-right: batchXpTarlationRPX(10);
  padding-left: batchXpTarlationRPX(10);
}
.card-item{
  border-radius: batchXpTarlationRPX(15);
  box-shadow: batchXpTarlationRPX(0,0,10,0) rgba(0, 0, 0, 0.2);
  margin-bottom: batchXpTarlationRPX(15);
  overflow: hidden;
}
.card-image{
  background-color: #fff;
  height: batchXpTarlationRPX(180);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.card-label{
  position: absolute;
  width: batchXpTarlationRPX(90);
  height: batchXpTarlationRPX(38);
  top: batchXpTarlationRPX(25);
}
.card-footer{
  //height: batchXpTarlationRPX(70);
  display: flex;
  align-items: center;
  padding: batchXpTarlationRPX(15,14,15,20);
  //background-color: #DEDEDE;
  background: linear-gradient(to bottom, #FFFFFF, #F5F5F5, #EEEEEE, #E0E0E0);
  justify-content: space-between;
}

.card-left{
  flex: 1;
}

.card-right{
  flex: 0 0 batchXpTarlationRPX(130);
}

.card-title{
  font-size: batchXpTarlationRPX(16);
  font-weight: bolder;
  color: #6c6c6c;
  margin-bottom: batchXpTarlationRPX(5);
}

.card-sub-title{
  font-size: batchXpTarlationRPX(12);
  color: #6c6c6c;
  &.money{
    font-weight: 700;
    font-size: batchXpTarlationRPX(28);
  }
}

.card-btn{
  width: batchXpTarlationRPX(130);
  height: batchXpTarlationRPX(40);
  background-color: $theme-color;
  border-radius: batchXpTarlationRPX(10);
  color: #fff;
  font-size: batchXpTarlationRPX(14);
  display: flex;
  align-items: center;
  justify-content: center;
  &.done{
    background-color: $gary-c4;
  }
}