.index-page {
  min-height: 100vh;
  box-sizing: border-box;
}

.index-content {
  box-sizing: border-box;
}

.index-content.is-page-scroll {
  min-height: 100vh;
  padding-bottom: 116px;
}

.index-content.is-contained {
  height: 100vh;
  overflow: hidden;
}
